*{
    scroll-behavior: smooth;
}
.navbar{
    background-color: rgb(42, 109, 109);
    display: flex;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 20px 20px 10px;
    position: sticky;
    top: 5;

}
body{
    background-color: rgb(248, 189, 78);
    background-image: url("manga.jpg");
    /*background-repeat: no-repeat;
    background-size: cover;*/
    backdrop-filter: blur(3px);
}
.navbar ul{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type:none;
}
p{
    color:rgb(175, 0, 0);
}
.navbar li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-size: medium;
}
.navbar li:hover{
    transform: translateY(5px);
    transition: .3s ease;
}
img:hover{
    transform: scale(90%);
    transition: 2s ease;
}
form{
    background-color: rgba(240, 230, 140, 0.336);
    border: solid 2px black;
    border-radius: 30px;
    width: 500px;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    margin-top: 10px;
    width: 100px;
    height: 35px;
    font-size: 25px;
    background-color: rgb(185, 0, 0);
    border-radius: 20px;
    border: solid black 2px;
    color:rgb(200, 208, 214);
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.aboutme{
    height: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom:500px;
    padding-top: 500px;
}
details{
    font-size:30px;
    background-color: aliceblue;
    cursor:pointer;
    margin-top: 10px;
    font-size: 20px;
}
.details1{
    background-color: rgba(199, 204, 167, 0.486);
}
.details2{
    background-color: rgba(204, 37, 70, 0.74);
}
.dt{
    color: aliceblue;
}
summary{
    font-size: 30px;
}
.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: aliceblue;
}

@keyframes color{
    0%{
        color: aliceblue;
        transform: translateY(50px);
    }
    100%{
        color: crimson;
        transform: translatey(0px);
    }
}
h1{
    color:aliceblue;
    animation: color 5s;
}